/* 해더 */
.menu > ul > li:nth-child(3) > a {
  font-weight: var(--bold);
}
/*  */
.top {
  height: 577px;
  width: 100%;
  background-color: #35a67d;
  text-align: center;
  padding-top: 150px;
  color: white;
}
.top h3 {
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 25px;
}
.top h1 {
  font-weight: 400;
  font-size: 56px;
  margin-bottom: 60px;
  line-height: 1.2;
}
.top .icons {
  display: flex;
  gap: 110px;
  justify-content: center;
  align-items: center;
}
.top .icons div {
  width: 110px;
  height: 125px;
  padding-top: 75px;
  position: relative;
  font-size: 18px;
}
.top .icons div::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 18px;
  width: 78px;
  height: 65px;
  background-image: url(../images/카카오뱅크2/sprite.png);
}
.top .icons .safe::after {
  background-position: -651px -793px;
}
.top .icons .freind::after {
  background-position: -651px -855px;
}
.top .icons .security::after {
  background-position: -645px -914px;
}

/* 누구나 쉼고 스마트하게 */
.easy.wrap {
  height: 620px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* content공용 */
.content h2 {
  font-size: 45px;
  font-weight: var(--medium);
  margin-bottom: 20px;
}
.content p {
  font-size: 16px;
  line-height: 1.7;
  color: var(--color-font2);
}
/*  */
.easy .images {
  width: fit-content;
  height: fit-content;
  position: relative;
  /* overflow: hidden; */

  top: 45px;
  opacity: 1;
  /* transform: translateY(-540px); */

  animation-name: easycss;
  animation-duration: 1.5s;
  animation-timing-function: cubic-bezier(0.6, 0.2, 0.1, 1);

  transition: all 500ms cubic-bezier(0.6, 0.2, 0.1, 1);
  transition-timing-function: cubic-bezier(0.6, 0.2, 0.1, 1);
}
.iphone {
  display: block;
  background-image: url(../images/카카오뱅크2/sprite.png);
  background-position: 0px 0px;
  width: 387px;
  height: 540px;
  background-repeat: no-repeat;
  position: relative;
}
.iphone_top {
  display: block;
  background-image: url(../images/카카오뱅크2/sprite.png);
  background-position: -600px 0px;
  width: 198px;
  height: 145px;
  background-repeat: no-repeat;
  position: absolute;
  top: 45px;
  left: 56px;
}
.iphone_bottom {
  display: block;
  background-image: url(../images/카카오뱅크2/sprite.png);
  background-position: -400px 0px;
  width: 198px;
  height: 197px;
  background-repeat: no-repeat;
  position: absolute;
  top: 190px;
  left: 56px;

  animation-name: iphone_bottomCss;
  animation-duration: 1.5s;
  animation-delay: 3s;
  animation-timing-function: cubic-bezier(0.6, 0.2, 0.1, 1);
}
.side_screen {
  display: block;
  background-image: url(../images/카카오뱅크2/sprite.png);
  background-position: -600px -150px;
  width: 198px;
  height: 342px;
  background-repeat: no-repeat;
  position: absolute;
  top: 45px;
  left: 56px;

  animation-name: side_screenCss;
  animation-duration: 1.5s;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.6, 0.2, 0.1, 1);
}

/* 세이프박스 */
.safebox {
  background-color: var(--color-gray);
}
.safebox .wrap {
  height: 625px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.safebox .images .iph {
  display: block;
  background-image: url(../images/카카오뱅크2/sprite.png);
  background-position: -78px -540px;
  width: 330px;
  height: 456px;
  background-repeat: no-repeat;
  position: relative;

  animation-name: iphCss;
  animation-duration: 1s;
}
.safebox .images .iph .iph_top {
  display: block;
  background-image: url(../images/카카오뱅크2/sprite.png);
  background-position: -481px -500px;
  width: 292px;
  height: 190px;
  background-repeat: no-repeat;

  position: absolute;
  top: 64px;
  left: 15px;
}
.safebox .images .iph .store {
  display: block;
  background-image: url(../images/카카오뱅크2/sprite.png);
  background-position: -508px -691px;
  width: 60px;
  height: 17px;
  background-repeat: no-repeat;

  position: absolute;
  top: 255px;
  left: 45px;
}
.safebox .images .iph .cash {
  position: absolute;
  top: 280px;
  left: 50px;
  font-size: 24px;
  font-weight: var(--bold);
}
.safebox .images .iph .cash span {
  font-size: 32px;
}

.safebox .images .iph_bottom {
  display: block;
  background-color: #ffe400;
  /* background-image: url(../images/카카오뱅크2/safebox.png); */
  /* background-repeat: no-repeat; */
  width: 292px;
  height: 120px;

  position: absolute;
  bottom: 0px;
  left: 15px;

  animation: iph_bottomCss;
  animation-duration: 2s;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.6, 0.2, 0.1, 1);
}
.safebox .images .iph_bottom::after {
  content: "";
  width: 5px;
  height: 120px;
  background-color: white;
  position: absolute;
  bottom: 0;
  right: 36px;

  animation: iph_bottomCss;
  animation-duration: 2s;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.6, 0.2, 0.1, 1);
}
.safebox .images .iph_bottom::before {
  content: "";
  width: 5px;
  height: 300px;
  background-color: var(--color-font);
  border-radius: 3px;
  position: absolute;
  bottom: 0;
  right: 36px;
}
.safebox .images .iph_bottom .zipper {
  display: block;
  background-image: url(../images/카카오뱅크2/sprite.png);
  background-position: -440px -430px;
  width: 33px;
  height: 50px;
  background-repeat: no-repeat;

  position: absolute;
  bottom: 90px;
  left: 239px;

  animation: zipperCss;
  animation-duration: 2s;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.6, 0.2, 0.1, 1);
}

/* 이체는 더욱 더 간편 */
.transfer.wrap {
  height: 620px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.transfer .content {
  width: max-content;
  height: fit-content;
}
.transfer .images {
  width: 680px;
  height: 620px;
  overflow: hidden;
  position: relative;
}
.transfer .images .one {
  display: block;
  background-image: url(../images/카카오뱅크2/sprite.png);
  background-position: 0px -1074px;
  width: 424px;
  height: 413px;
  background-repeat: no-repeat;

  position: absolute;
  top: -50px;
  left: 0px;
  opacity: 0;

  animation: one;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
.transfer .images .two {
  display: block;
  background-image: url(../images/카카오뱅크2/sprite.png);
  background-position: -425px -1074px;
  width: 424px;
  height: 413px;
  background-repeat: no-repeat;

  position: absolute;
  top: 100px;
  right: -30px;
  opacity: 0;

  animation: two;
  animation-delay: 1s;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
.transfer .images .three {
  display: block;
  background-image: url(../images/카카오뱅크2/sprite.png);
  background-position: 0px -1501px;
  width: 424px;
  height: 413px;
  background-repeat: no-repeat;

  position: absolute;
  top: 250px;
  left: 0px;
  opacity: 0;

  animation: three;
  animation-delay: 0.5s;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
.transfer .images .four {
  display: block;
  background-image: url(../images/카카오뱅크2/sprite.png);
  background-position: -425px -1501px;
  width: 424px;
  height: 413px;
  background-repeat: no-repeat;

  position: absolute;
  top: 410px;
  right: -30px;
  opacity: 0;

  animation: four;
  animation-delay: 1.5s;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

/* 카드 */
.design {
  background-color: var(--color-gray);
  height: 625px;
}
.design .wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.design .wrap div {
  flex: 1;
}
.design .wrap .images {
  display: block;
  background-image: url(../images/카카오뱅크2/sprite.png);
  background-position: -0px -1910px;
  width: 460px;
  height: 355px;
  background-repeat: no-repeat;
}
/* /언제든지 사용가능 */
.whenever {
  background-color: #3e4459;
  height: 650px;
  padding-top: 150px;
}
.whenever .wrap {
  position: relative;
  width: 1080px;
  height: 100%;
}
.whenever .image {
  display: block;
  background-image: url(../images/카카오뱅크2/sprite.png);
  background-position: -480px -800px;
  width: 169px;
  height: 169px;
  background-repeat: no-repeat;
  margin: 0 auto;
  margin-bottom: 30px;
}
.whenever .content {
  color: white;
  text-align: center;
  margin: 0 auto;
}
.whenever .content p {
  margin-bottom: 115px;
  color: white;
}
.whenever .content span {
  color: #9a9a9a;
}
.whenever .stars .star {
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background-color: #d9d9d9;
  position: absolute;
}
.star.s1 {
  top: 30px;
  left: 300px;
  opacity: 70%;

  animation-name: star;
  animation-duration: 5s;
  animation-delay: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.6, 0.2, 0.1, 1);
}
.star.s2 {
  top: -30px;
  left: 400px;

  animation-name: star;
  animation-duration: 5s;
  animation-delay: 0.5s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.6, 0.2, 0.1, 1);
}
.star.s3 {
  top: 40px;
  right: 300px;

  animation-name: star;
  animation-duration: 5s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.6, 0.2, 0.1, 1);
}
.star.s4 {
  top: -40px;
  right: 400px;
  opacity: 50%;

  animation-name: star;
  animation-duration: 5s;
  animation-delay: 0.7s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.6, 0.2, 0.1, 1);
}
.star.s5 {
  top: 80px;
  right: 430px;
  opacity: 80%;

  animation-name: star;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.6, 0.2, 0.1, 1);
}
/* 상품안내 */
.explain {
  margin: 120px auto;
  height: fit-content;
  border-top: 1px solid var(--color-font2);
}
.explain .board a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  /* line-height: 70px; */
  padding: 22px 30px;
  font-size: 18px;
  color: var(--color-font1);
  text-align: left;
  font-weight: var(--medium);
  border-bottom: 1px solid var(--color-notice);
}
.explain .board a.active {
  background-color: #e6e6e6;
}
.explain .board:last-child a {
  border-bottom: 1px solid var(--color-font2);
}
.explain .board:last-child a.active {
  border-bottom: 1px solid var(--color-notice);
}
.explain .board div {
  background-color: #e6e6e6;
  padding: 32px 50px;
  border-bottom: 1px solid var(--color-notice);
  display: none;
}
.explain .board:last-child div {
  border-bottom: 1px solid var(--color-font2);
}
.explain .board span {
  display: inline-block;
  width: 16px;
  height: 9px;
  background-image: url(../images/카카오뱅크2/recom.png);
  background-position: -99px -118px;
  text-align: right;
}
